<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="shared/layout :: head"></head>
<body>

	<header>
		<ul class="nav justify-content-end bg-blue">
		<li class="nav-item">
			<a class="nav-link" href="/register">Registrarse</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/login">Login</a>
		</li>
		</ul>
	</header>

	<div class="container py-4">

		<h1>BiciAndes</h1>
		
	</div>

	<footer th:replace="shared/layout :: footer"></footer>
</body>
</html>