<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: head"></head>
<body>
	<header th:replace="shared/layout :: header"></header>
	<h1 class="hp-title text-center mt-3 mb-0" th:text=${titulo}></h1>
	<form class="form-inline col-md-2 offset-md-9" th:action="@{/search}"
		th:with="nlib=${libro}">
		<div class="form-group">
			<input th:field="*{nlib.nombre}"
				class="form-control form-control-sm mr-3 w-75" type="text"
				placeholder="Search" aria-label="Search"
				onchange="this.form.submit()"> <i class="fab fa-searchengin"></i>
		</div>
	</form>
	<div class="dropdown-divider mb-4"></div>
	<div th:if="${#lists.size(libros)<1}" class="ml-3"
		style="margin-bottom: 285px;">
		<i>No se han encontrado libros de <span class="hp-title"
			style="font-size: x-large;">Harry Potter</span> con el criterio de
			busqueda
		</i>
	</div>

	<div class="card-deck">
		<th:block th:each="libro : ${libros}">
			<div class="col-sm-6 my-2" style="min-width: 480px;">
				<div class="container-fluid h-100 d-flex">
					<div class="row">
						<div class="col-12 mt-3  d-flex align-items-stretch">
							<div class="card h-100">
								<div class="card-horizontal">
									<div class="card-header border-0">
										<img th:src="@{''+${libro.imagen}}" alt="imagen libro hp" />
									</div>
									<div class="card-body">
										<h4 class="card-title text-center hp-title"
											th:field="*{nlib.nombre}" th:text="${libro.nombre}">Harry
											Potter Book</h4>
										<div class="dropdown-divider"></div>
										<div class="my-5"></div>

										<div class="my-3">
											Cantidad disponible: <span
												th:text="${libro.cantidad > 0} ? ${libro.cantidad} : 'AGOTADO'"></span>
										</div>
										<div class="my-3">
											Precio: <i class="fas fa-dollar-sign"></i> <span
												th:text="${#numbers.formatDecimal(libro.precio, 0, 'COMMA', 2, 'POINT')}">10.00</span>
										</div>
										<p class="card-text"></p>
										<div class=""></div>

									</div>
								</div>
								<div
									th:classappend="${libro.cantidad > 0} ? card-footer : bg-info">
									<div th:if="${libro.cantidad == 0}"
										class="text-white text-center">
										<b>Sin Existencias</b>
									</div>
									<form th:action="@{/cart/agregar}" method="post"
										th:with="nlib=${libro}">
										<div></div>

										<div class="form-group row" th:if="${libro.cantidad > 0}"
											th:with="someVariable=${libro.cantidad}">
											<label for="cant-agregar" class="col-4"
												style="text-align: right;">Agregar al carrito: </label>
											<div class="col-3">
												<input value="1" id="cant" th:value="2"
													th:field="*{nlib.cantidad}" class="form-control"
													type="number" min="1" th:max="${libro.cantidad}"
													th:attr="value = ${libro.cantidad}">
											</div>
											<input type="hidden" th:value="*{libro.id}" id="id" name="id">
											<input type="hidden" th:value="*{libro.nombre}" id="nombre"
												name="nombre"> <input type="hidden"
												th:value="*{libro.precio}" id="precio" name="precio">
											<button type="submit" class="btn btn-secondary  btn-sm col-4">
												Agregar <i class="fas fa-cart-plus"></i>
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>


</body>
<footer th:replace="shared/layout :: footer"></footer>
</html>