<!DOCTYPE html>
<html lang="en">
<head th:replace="shared/layout :: head"></head>
<body>

	<header th:replace="shared/layout :: header"></header>

	<div class="card border-secondary text-center">
		<div class="card-header">Por favor Ingrese su Email!</div>
		<div class="card-body">

			<form th:action="@{/login}" method="post">

				<div class="form-group offset-sm-3 col-sm-6">
					<input type="text" name="email" id="email"
						class="form-control" placeholder="email" autofocus required />
				</div>

				<div class="form-group offset-sm-3 col-sm-6">
					<input type="password" name="password" id="password"
						class="form-control" placeholder="Password" required />
				</div>

				<div class="form-group  offset-sm-3  col-sm-6">
					<input type="submit" class="btn btn-lg btn-seconary btn-block"
						value="LogIn" />
				</div>
			</form>
		</div>
	</div>

	<footer th:replace="shared/layout :: footer"></footer>
</body>
</html>