<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: head"></head>
<body>
<header th:replace="shared/layout :: header"></header>
<div class="d-flex" id="wrapper" style="height: 80em; margin-bottom: 0px;">
    <!-- Sidebar -->
    <div th:if="${sidebar == 1}" class="bg-blue"  >
        <div th:replace="shared/layout :: sidebar" ></div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="container py-4">
		<h1 class="hp-title text-center mt-3 mb-0">Publicar</h1><br>
        <form class="form-inline" action="#" th:action="@{/upload}" th:object="${publish}" method="POST" enctype="multipart/form-data">
            <div class="form-group col-md-4">
			    <label for="description">Descripcion</label>
			    <textarea id="description" th:field="*{description}" th:errorclass="'form-control alert-danger'"  rows="3"></textarea>
			    <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="description"></small>
  			</div>

            <div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="type" id="type" value="photo">
			  <label class="form-check-label" for="type">Photo</label>
			</div>

			<div th:if="${version == 'master'}">
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="type" id="type" value="video">
				  <label class="form-check-label" for="type">Video</label>
				</div>
			</div>

			<div class="form-group col-md-4">
    			<label for="file">Subir Archivo</label>
    			<input type="file" class="form-control-file" name="file" id="file">
  			</div>
  			<button type="submit" class="btn btn-primary">Publicar</button>
        </form>
        
        <br><br><br>
        <h1 class="hp-title text-center mt-3 mb-0">Mis publicaciones</h1>

		<div th:if="${version == 'master'}">
			<div class="videos section">
				<h1 class="hp-title text-center mt-3 mb-0">Videos</h1>

				<div class="row row-cols-1 row-cols-md-3">
				  <div th:each="video: ${videos}" class="col mb-4">
					<div class="card">
					<video autoplay>
					  <source th:src="@{${video.url}}" class="card-img-top" alt="${video.url}" style="max-width: 18rem;">
					  </video>
					  <div class="card-body">
						<h5 class="card-title"></h5>
						<p class="card-text" th:text="${video.description}"></p>
					  </div>
					</div>
				  </div>
				</div>
				<nav aria-label="...">
				  <ul class="pagination pagination-sm justify-content-end">
					<li class="page-item active" aria-current="page">
					  <span class="page-link">
						1
						<span class="sr-only">(current)</span>
					  </span>
					</li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
				  </ul>
				</nav>
			</div>
		</div>
		
		<div class="fotos section">
			<h1 class="hp-title text-center mt-3 mb-0">Fotos</h1>
			
	        <div class="row row-cols-1 row-cols-md-3">
			  <div th:each="foto: ${photos}" class="col mb-4">
			    <div class="card">
			      <img th:src="@{${foto.url}}" class="card-img-top" alt="" style="max-width: 18rem;">
			      <div class="card-body"> 
			        <h5 class="card-title"></h5>
			        <p class="card-text" th:text="${foto.description}"></p>
			      </div>
			    </div>
			  </div>
			</div>
			<nav aria-label="...">
			  <ul class="pagination pagination-sm justify-content-end">
			    <li class="page-item active" aria-current="page">
			      <span class="page-link">
			        1
			        <span class="sr-only">(current)</span>
			      </span>
			    </li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			  </ul>
			</nav>
		</div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
</body>
<footer th:replace="shared/layout :: footer" ></footer>
</html>
